div#cabecera{
  height: 100px;
}
.btn-default {
    color: #00a5ff;
    background-color: #EAE6E6;
    border-color: #ccc;
    margin-top: 30px;
    margin-left: 20px;
  }
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 60px;
    margin-bottom: 10px;
}
#logo_cabecera{
  margin: [0 10px 0 10px];
  width: 300px;

}

#etsit{
  margin:auto;
  float: left;
  width: 900px;
}

div.btn-group{
  width: 200px;
  margin: auto;
  float: left;
}
